[submodule "Widgets"]
	path = Widgets
	url = https://github.com/daviddoria/Widgets.git
[submodule "ITKVTKCamera"]
	path = ITKVTKCamera
	url = https://github.com/daviddoria/ITKVTKCamera.git
[submodule "Layer"]
	path = Layer
	url = https://github.com/daviddoria/Layer.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = https://github.com/daviddoria/ITKVTKHelpers.git
[submodule "PatchProjection"]
	path = PatchProjection
	url = https://github.com/daviddoria/PatchProjection.git
[submodule "vtkPointSelectionStyle"]
	path = vtkPointSelectionStyle
	url = https://github.com/daviddoria/vtkPointSelectionStyle.git
[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = https://github.com/daviddoria/ITKQtHelpers.git
